---
import Pagination from '@/components/Pagination.astro'
import Layout from '@/layouts/Layout.astro'
import { formatDate } from '@/utils/date'
import { getPostEntries, getPostUrl } from '@/post'
import { render } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getPostEntries()

  return posts.map((post, index) => {
    const prevPost = posts[index - 1] || null
    const nextPost = posts[index + 1] || null
    return {
      params: { slug: post.id },
      props: { postEntry: post, prevPost, nextPost },
    }
  })
}

const { postEntry, prevPost, nextPost } = Astro.props
const { Content } = await render(postEntry)
---

<Layout>
  <div>
    <header>
      <h2 class="text-6 font-bold mb-2">
        <a class="link" href={getPostUrl(postEntry)}>{postEntry.data.title}</a>
      </h2>
      <div class="text-3.5 mb-8">
        <time datetime={postEntry.data.pubDate.toString()}>发布于 {formatDate(postEntry.data.pubDate)}</time>
        {
          postEntry.data.tags.map((tag) => (
            <a href="" class="link">
              <span> # {tag} </span>
            </a>
          ))
        }
      </div>
    </header>

    <article class="heti">
      <Content />
    </article>

    <footer class="py-5">
      <Pagination
        showLeft={Boolean(prevPost)}
        leftTitle={`${'上一篇：'}${prevPost?.data.title}`}
        leftUrl={getPostUrl(prevPost)}
        showRight={Boolean(nextPost)}
        rightTitle={`${'下一篇：'}${nextPost?.data.title}`}
        rightUrl={getPostUrl(nextPost)}
        showPageCount={false}
      />
    </footer>
  </div>
</Layout>
