---
import Layout from '@/layouts/Layout.astro'
import { formatDate } from '@/utils/date'
import { getPostEntries, getPostUrl } from '@/utils/post'
import { render } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getPostEntries()

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { postEntry: post },
  }))
}

const { postEntry } = Astro.props
const { Content } = await render(postEntry)
---

<Layout>
  <div>
    <header>
      <h2 class="text-5 font-bold mb-2">
        <a href={getPostUrl(postEntry)}>{postEntry.data.title}</a>
      </h2>
      <p class="text-3.5 mb-2">
        <time datetime={postEntry.data.pubDate.toString()}>发布于 {formatDate(postEntry.data.pubDate)}</time>
        {
          postEntry.data.tags.map((tag) => (
            <a href="" class="link">
              <span> # {tag} </span>
            </a>
          ))
        }
      </p>
    </header>

    <article class="heti">
      <Content />
    </article>
  </div>
</Layout>
