---
import Pagination from '@/components/Pagination.astro'
import Layout from '@/layouts/Layout.astro'
import { useTranslate } from '@/i18n'
import { getPostEntries, getPostUrl, formatPostDate } from '@/post'
import { themeConfig } from '@/theme.config'
import { render } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getPostEntries()

  return posts.map((post, index) => {
    const prevPost = posts[index - 1] || null
    const nextPost = posts[index + 1] || null
    return {
      params: { slug: post.id },
      props: { postEntry: post, prevPost, nextPost },
    }
  })
}

const { postEntry, prevPost, nextPost } = Astro.props
const { t } = useTranslate(themeConfig.site.locale)
const prevTitle = prevPost ? `${t('prev_post')}: ${prevPost.data.title}` : undefined
const nextTitle = nextPost ? `${t('next_post')}: ${nextPost.data.title}` : undefined
const { Content } = await render(postEntry)
---

<Layout>
  <div class="max-w-2xl">
    <header>
      <h2 class="text-6 font-bold mb-2">
        <a class="link" href={getPostUrl(postEntry)}>{postEntry.data.title}</a>
      </h2>
      <div class="text-3.5 mb-8">
        <time datetime={postEntry.data.pubDate.toString()}
          >{t('posted_at')} {formatPostDate(postEntry.data.pubDate, themeConfig.site.locale)}</time
        >
        {
          postEntry.data.tags.map((tag) => (
            <a href="" class="link">
              <span> # {tag} </span>
            </a>
          ))
        }
      </div>
    </header>

    <article class="heti">
      <Content />
    </article>

    <footer class="py-5">
      <Pagination
        showLeft={Boolean(prevPost)}
        leftTitle={prevTitle}
        leftUrl={getPostUrl(prevPost)}
        showRight={Boolean(nextPost)}
        rightTitle={nextTitle}
        rightUrl={getPostUrl(nextPost)}
        showPageCount={false}
      />
    </footer>
  </div>
</Layout>
